@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@import 'tailwindcss';

@theme {
  --font-press-start: 'Press Start 2P', system-ui;
}

#titlebar {
  -webkit-app-region: drag;
  -webkit-user-select: none;
  user-select: none;
}

#titlebar button {
  -webkit-app-region: no-drag;
}

.text-from-left-animation {
  animation: text-from-left-animation 0.2s linear forwards;
}

@keyframes text-from-left-animation {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@layer utilities {
  @keyframes shimmer {
    from {
      background-position: 0 0;
    }
    to {
      background-position: -200% 0;
    }
  }

  .animate-shimmer {
    animation: shimmer 2s linear infinite;
  }
}
